<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestNG Suite">
    <suite-files>
        <suite-file path="HomeworkSuites/ParametrizedSwoopTestsSuite.xml" />
<!--        <suite-file path="HomeworkSuites/ParametrizedSwoopTests2Suite.xml" />-->
<!--        <suite-file path="HomeworkSuites/AlternativeParameterization.xml" />-->
<!--        <suite-file path="HomeworkSuites/DependsOnTest.xml" />-->
    </suite-files>
</suite>