<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestSuite" thread-count="1" >
    <test name="FirefoxTest">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="SelenideTests">
                <methods>
                    <include name="validateBundleOffers"/>
                    <include name="validateIndividualOffers"/>
                    <include name="checkBoxTest"/>
                    <include name="dropDownTest"/>
                    <include name="collectionsTest"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="ChromeTest">
        <parameter name="browser" value="Chrome"/>
        <classes>
            <class name="SelenideTests">
                <methods>
                    <include name="validateBundleOffers"/>
                    <include name="validateIndividualOffers"/>
                    <include name="checkBoxTest"/>
                    <include name="dropDownTest"/>
                </methods>
            </class>
            <class name="SelenideTests2">
                <methods>
                    <include name="validateDemosDesign"/>
                    <include name="validateOrderMechanics"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>